<div class="row">
    <p><br /></p>


    @Html.ActionLink(
                            "Wszystkie wydarzenia",
                            "Index",
                            "Events",
                            null,
                            new
                            {
                                @class = "btn btn-block btn-default btn-md"
                            })
    @if (Request.IsAuthenticated)
    {
        @Html.ActionLink(
                                "Moje wydarzenia",
                                "MyEvents",
                                "Events",
                                null,
                                new
                                {
                                    @class = "btn btn-block btn-default btn-md"
                                })
    }
    @if (Request.IsAuthenticated && User.IsInRole("admin"))
    {
        @Html.ActionLink(
                                "Zarządzaj uczestnikami wydarzeń",
                                "Index",
                                "Admin",
                                null,
                                new
                                {
                                    @class = "btn btn-block btn-default btn-md"
                                })
    }

    @if (Request.IsAuthenticated && User.IsInRole("admin"))
    {
        @Html.ActionLink(
                                "Usuń użytkowników",
                                "Index",
                                "Users",
                                null,
                                new
                                {
                                    @class = "btn btn-block btn-default btn-md"
                                })
    }
</div>